<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Regression" parallel="classes">
<listeners>
   <listener class-name="testNG.MyReports"></listener>
</listeners>
  <test thread-count="5" name="Test">
    <classes>
      <class name="testNG.TestNGAnnotations"/>
      <class name="testNG.TestNGAnnotations2"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
